<h1 class="text-center my-3">Cadastro de tarefas</h1>
<form action="/tarefas/Create" method="post">
<div class="row w-50 d-block m-auto g-3">
<div class="col-12">
<label class="form-label" for="titulo">Titulo:</label>
<input
class="form-control"
type="titulo"
name="titulo"
id="titulo"
placeholder="Digite o título da Tarefa"
/>
</div>
<div class="col-12">
<label class="form-label" for="descricao">Descrição:</label>
<input
class="form-control"
type="descricao"
name="descricao"
id="descricao"
placeholder="Digite a descrição da tarefa."
/>
</div>
<div>
<input class="btn btn-primary my-3" type="submit" value="Cadastrar tarefa"
/>
</div>
</div>
</form>