<h1 class="text-center my-3">Cadastro de Usuários</h1>
<form action="/usuarios/Create" method="post">
<div class="row w-50 d-block m-auto g-3">
  
<div class="col-12">
<label class="form-label" for="titulo">Nome:</label>
<input
class="form-control"
type="text"
name="nome"
id="nome"
placeholder="Digite o nome do usuário"
/>
</div>
  
<div class="col-12">
<label class="form-label" for="titulo">Email:</label>
<input
class="form-control"
type="email"
name="email"
id="email"
placeholder="Digite o e-mail do usuário"
/>
</div>
  
<div class="col-12">
<label class="form-label" for="descricao">Senha:</label>
<input
class="form-control"
type="password"
name="senha"
id="senha"
placeholder="Digite a senha do usuário"
/>
</div>
  
<div>
<input class="btn btn-primary my-3" type="submit" value="Cadastrar Usuário"
/>
</div>
</div>
</form>