<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.13.0/css/all.min.css">
 <title>Seja bem vindo ao sistema de Compras Virtual</title>
</head>
<body>
 <h1>Seja bem vindo!</h1><br>
 <a href="/">voltar</a>
</body>
</html>