* {
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-size: 13pt;
}

body {
  background-color: #eee;
}

h1 {
   text-align: center;
}

form {
  background-color: #888;
  color: white;  
  padding: 10px;
}

input, select {
  padding: 10px;
  width: 100%;
}

.btn {
  margin-top: 10px;
}