@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Open+Sans:wght@400;500&display=swap');

body {
    background-color:#F0E2BB;
    margin:0 auto;
}

a {
    text-decoration: none;
    color: #333334;
}

#header {
    border-bottom: 1px solid #667eea;
    margin: 0 auto;
    width: 100%;
    background-image: linear-gradient(#4cac87, #314134);
    padding: 2.5em 0 2.5em 2.5em;

}

.name {
    color: rgb(230, 248, 234);
    font-size: 40px;
    font-family: Open Sans;
    font-weight: 600;
    vertical-align: bottom;
    white-space: nowrap;
    padding-left: 0.5em;
}

.description {
    color: rgb(199, 223, 198);
    font-size: 17px;
    font-family: Courier New;
    font-weight: 600;
    vertical-align: top;
    padding-left: 1em;
}

#body1 {
    margin: 0 auto;
    width: 80%;
    font-family: Caveat;
    font-size: 25px;
}

.menu {
    color: #333334;
    padding: 17px;
    white-space: nowrap;
}

.menu:hover {
    color: #fff;
    background-color: #3E5BA0;
    border-radius: 15px;
    padding: 7% 28%;
    white-space: nowrap;
}

.herosection {
    color: #B6BECC;
    background-color: #333334;
    border-radius: 25px;
    padding: 0 10px;
    font-size: 30px;
    padding: 0 0.8em;
    height: 160;
}

.button {
    margin-bottom: 1.5em;
    border: solid 0;
    color: #fff;
    background-color: #3D57A1;
    border-radius: 10px;
    padding: 1em;
    font-family: Open Sans;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
}

#body2 {
    margin: 0 auto;
    width: 80%;
    font-family: Open Sans;
    font-size: 18px;
    padding: 0 0.8em 2em;
}

#footer {
    text-align: center;
    margin: 0 auto;
    font-family: Open Sans;
    font-weight: bold;
    width: 100%;
    background-image: linear-gradient(#eafff3, #fff);
}