<h1 class="text-center my-3">Cadastro de Filmes</h1>
<form action="/Cadastrar" method="post">
    <div class="row w-50 d-block m-auto g-3">

    <div class="col-12">
        <label class="form-label" for="titulo">Título:</label>
        <input
        class="form-control"
        type="titulo"
        name="titulo"
        id="titulo"
        placeholder="Digite o título do filme"
        />
    </div>
    <div class="col-12">
        <label class="form-label" for="assunto">Categoria:</label>
        <input
        class="form-control"
        type="categoria"
        name="categoria"
        id="categoria"
        placeholder="Digite a categoria do filme"
        />
    </div>
    <div class="col-12">
        <label class="form-label" for="descricao">Gênero:</label>
        <input
        class="form-control"
        name="genero"
        id="genero"
        placeholder="Digite o gênero do filme"
        ></input>
    </div>
    <div class="col-12">
        <label class="form-label" for="link_sinopse">Sinopse:</label>
        <input
        class="form-control"
        name="link_sinopse"
        id="link_sinopse"
        placeholder="Link da sinopse do filme"
        />
    </div>
    <div>
        <input
        class="btn btn-primary my-3"
        type="submit"
        value="Cadastrar Filme"
        />
    </div>
    </div>
</form>