<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <title>Cadastros Corporativos</title>
  </head>
  <body>
    <div class="container">
      <h1>Cadastros Corporativos</h1>
      <p>Selecione o item que deseja cadastrar:</p>
      <ul>
        <li><a href="/cadcliente">Cadastrar Cliente</a></li>
        <li><a href="/cadfornecedor">Cadastrar Fornecedor</a></li>
      </ul>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
