<h1 class="text-center my-3">Cadastro de Cidades</h1>
<form action="/cidades" method="post">
  <div class="row w-50 d-block m-auto g-3">
    <div class="col-12">
      <label class="form-label" for="cidade">Nome da Cidade:</label>
      <input
        class="form-control"
        type="text"
        name="nome"
        id="nome"
        placeholder="Digite o nome da cidade"
      />
    </div>

    <div>
      <input
        class="btn btn-primary my-3"
        type="submit"
        value="Cadastrar Cidade"
      />
    </div>
  </div>
</form>